/.vscode
/C#
/DM Devis eBooks Reflow - model_sarah.docx
/DM Devis eBooks Reflow - variables.xlsx
/DM Devis eBooks Reflow - variantes et questions.xlsx
/DM Devis eBooks Reflow - variantes et questions_orig.xlsx
/DocMaker-Params-In.txt
/sample.xlsx
/To open and keep opened.xlsx